@charset "UTF-8";
html
{
	overflow-y:hidden;
}
body
{
	margin:0;
	height:100%;
}
a:active,a:hover
{
	outline:0;
}
button,input,optgroup,select,textarea
{
	color:inherit;
	font:inherit;
	margin:0;
}
button,html input[type=button],input[type=reset],input[type=submit]
{
	-webkit-appearance:button;
	cursor:pointer;
}
input,select,button
{
	outline:none;
}
@-ms-viewport
{
	width:device-width;
}
html
{
	font-size:50px;
	-webkit-tap-highlight-color:transparent;
	height:100%;
	min-width:320px;
	overflow-x:hidden;
}
body
{
	font-family:"Microsoft YaHei";
	font-size:.28em;
	line-height:1;
	color:#333;
	background-color:white;
}
button,input,select,textarea
{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
}
a
{
	color: #00B0F0;
	text-decoration:none;
	outline:0;
}
a:focus
{
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}
a.react,label.react
{
	display:block;
	color:inherit;
	height:100%;
}
a.react.react-active,a.react:active,label.react:active
{
	background:rgba(0,0,0,.1);
}
::-webkit-input-placeholder 
{
	color:#999;
	line-height:inherit;
} 
:-moz-placeholder 
{
	color:#999;
	line-height:inherit;
} 
::-moz-placeholder 
{
	color:#999;
	line-height:inherit;
}
@font-face 
{
    font-family: 'adminthemesregular';
    src: url('font/adminthemes-webfont.eot');
    src: url('font/adminthemes-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/adminthemes-webfont.woff2') format('woff2'),
         url('font/adminthemes-webfont.woff') format('woff'),
         url('font/adminthemes-webfont.ttf') format('truetype'),
         url('font/adminthemes-webfont.svg#adminthemesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*other public*/
.admin_login
{
	width:300px;
	height:auto;
	overflow:hidden;
	margin:10% auto 0 auto;
	padding:40px;
	box-shadow: 0 -15px 30px #00B0F0;
	border-radius:5px;
}
.admin_login dt
{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	color:#45bda6;
	text-shadow:0 0 1px #00B0F0;
	margin-bottom:15px;
}
.admin_login dd
{
	margin:10px 0;
	height:55px;
	overflow:hidden;
	position:relative;
}
.admin_login dd .login_txtbx
{
	font-size:14px;
	height: 26px;
	line-height: 26px;
	padding:8px 5%;
	width:90%;
	text-indent:2em;
	border:none;
	background: #00B0F0;
	color:white;
}
.admin_login dd .login_txtbx::-webkit-input-placeholder 
{
	color:#f4f4f4;
	line-height:inherit;
} 
.admin_login dd .login_txtbx:-moz-placeholder 
{
	color:#f4f4f4;
	line-height:inherit;
} 
.admin_login dd .login_txtbx::-moz-placeholder 
{
	color:#f4f4f4;
	line-height:inherit;
}
.admin_login dd .login_txtbx:focus
{
	background:#00B0F0;
}
.showpwd_style
{
	margin-top: 5px;
}
.admin_login .a_left
{
	padding-left:5px;
}
.admin_login .a_right
{
	padding-left: 145px;
}
.font_color_white
{
	color: #fff;
}
.admin_login dd:before
{
	font-family:'adminthemesregular';
	position:absolute;
	top:0;
	left:10px;
	height:42px;
	line-height:42px;
	font-size:20px;
	color:#0c9076;
}
.admin_login dd.user_icon:before
{
	content: "u";
}
.admin_login dd.pwd_icon:before
{
	content: "p";
}
.admin_login dd .submit_btn
{
	width:100%;
	height:42px;
	border:none;
	font-size:16px;
	background: #00B0F0;
	color:#f8f8f8;
}
.admin_login dd .submit_btn:hover
{
	background:#00B0F0;
	opacity: 0.5;
	color:#f4f4f4;
}